<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="panel-title-container">
        <h3 class="title">
          JobAdder match Thomas
        </h3>
        <mat-chip-list>
          <mat-chip>Angular</mat-chip>
          <mat-chip>DotnetCore</mat-chip>
        </mat-chip-list>
      </div>

    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="candidate-container">
    <h4 class="candidate-name">Thomas</h4>
    <mat-chip-list>
      <mat-chip>Angular</mat-chip>
      <mat-chip>DotnetCore</mat-chip>
    </mat-chip-list>
  </div>
</mat-expansion-panel>
